body{
    font-family: 'Open Sans', sans-serif;
}


.primary-color{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 200px; */
    
}
nav>ul{
    display: flex;
    align-items: center;
   
}
ul>li> a{
    margin-right: 100px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    color: black;
    font-size: 15px;
    font-weight: 700;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
/* .nav-title{
    color: black;} */

/* Header Part  */
.header{
    background: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 30px;
    display: flex;
}
.profile-pic{
    width: 200px;
}
